<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <title>Virtual Wallet | Creating Wallet</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/ico/favicon.ico}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
          rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/vendors.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/forms/select/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/charts/apexcharts.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/css/extensions/toastr.min.css}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-extended.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/colors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/components.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/dark-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/bordered-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/semi-dark-layout.css}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/core/menu/menu-types/horizontal-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/homepage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/charts/chart-apex.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/extensions/ext-component-toastr.css}">
    <!-- END: Page CSS-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="horizontal-layout horizontal-menu navbar-floating footer-static" data-open="hover"
      data-menu="horizontal-menu" data-col="">

<!--BEGIN: Header-->
<nav th:replace="fragments :: header"></nav>
<!--END: Header-->

<!-- BEGIN: Main Menu-->
<div th:replace="fragments :: menu"></div>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="row d-flex justify-content-center">

                <!-- Wallet Card -->
                <div class="card col-lg-5 col-md-5 col-sm-12">
                    <div class="card-header border-bottom">
                        <h4 class="card-title text-primary">Adding Contact</h4>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title text-secondary">Find contact</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/panel/contacts/add}" class="validate-form" method="get">
                                <div class="row mb-2">
                                    <div class="radio-buttons col-12">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input radio" type="radio" name="fieldName"
                                                       id="username"
                                                       value="username" checked>
                                                Username
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input radio" type="radio" name="fieldName"
                                                       id="email"
                                                       value="email">
                                                Email
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input radio" type="radio" name="fieldName"
                                                       id="phone-number"
                                                       value="phoneNumber">
                                                Phone Number
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-1" id="search-form">
                                    <label class="form-label" for="search-field" id="search-field-name">Username</label>
                                    <div class="input-group input-group-merge"
                                         th:classappend="${notFound != null} ? 'is-invalid' : ''">
                                        <span class="input-group-text"><i id="search-field-icon"
                                                                          class="far fa-user"></i></span>
                                        <input type="text" id="search-field" class="form-control"
                                               th:classappend="${notFound != null} ? 'is-invalid' : ''"
                                               name="search-field" placeholder="Username"/>
                                        <div th:if="${notFound != null}" class="invalid-feedback"
                                             th:text="${notFound}"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary me-1 mt-1 mb-2">Search</button>

                                <div th:if="${user != null}">

                                    <table class="table table-borderless">
                                        <thead>
                                        <tr class="text-center">
                                            <th>Username</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="text-center">
                                            <td>[[${user.getUsername}]]</td>
                                            <td>
                                                <a th:if="${!currentLoggedUser.isFriend(user.getUsername())}" th:href="@{/panel/contacts/{id}/add(id=${user.id})}">
                                                    <button type="button" class="btn btn-relief-success">
                                                        Add Contact
                                                    </button>
                                                </a>
                                                <a th:if="${currentLoggedUser.isFriend(user.getUsername())}" th:href="@{/panel/contacts/{id}/delete(id=${user.id})}">
                                                    <button type="button" class="btn btn-relief-danger">
                                                        Delete Contact
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Wallet Card -->

        </div>

    </div>
</div>
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<div th:replace="fragments :: footer"></div>
<!-- END: Footer-->


<!-- BEGIN: Vendor JS-->
<script th:src="@{/vendors/js/vendors.min.js}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script th:src="@{/vendors/js/ui/jquery.sticky.js}"></script>
<script th:src="@{/vendors/js/charts/apexcharts.min.js}"></script>
<script th:src="@{/vendors/js/extensions/toastr.min.js}"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script th:src="@{/js/core/app.js}"></script>
<script th:src="@{/js/core/app-menu.js}"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script th:src="@{/js/scripts/pages/homepage.js}"></script>
<script th:src="@{/vendors/js/forms/select/form-select2.full.min.js}"></script>
<!-- END: Page JS-->

<script type="text/javascript">
    $(document).ready(function () {
            $('.radio').click(function () {
                    if (document.getElementById("username").checked) {
                        document.getElementById("search-field-name").innerText = "Username";
                        document.getElementById("search-field-icon").setAttribute("class", "far fa-user");
                        document.getElementById("search-field").placeholder = "Username";
                    } else if (document.getElementById("email").checked) {
                        document.getElementById("search-field-name").innerText = "Email";
                        document.getElementById("search-field-icon").setAttribute("class", "far fa-envelope");
                        document.getElementById("search-field").placeholder = "Email";
                    } else if (document.getElementById("phone-number").checked) {
                        document.getElementById("search-field-name").innerText = "Phone Number";
                        document.getElementById("search-field-icon").setAttribute("class", "fas fa-phone");
                        document.getElementById("search-field").placeholder = "Phone Number";
                    }
                }
            )
        }
    );
</script>
</body>

<!-- END: Body-->

</html>